p,
ul,
li,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  border-radius: 4px;
}

body {
  font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
}

.list, .menu-navigation li, .contacts li, .menu-link, .navigation-menu, .menu-social__link, .footer li, .specifications li, .activities__list, .team__box, .team__list, .client__list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.h-title, .hat h1, .activities__title, .team h2 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.normal-text, .footer address, .footer__contacts a, .footer__mailing h3, .footer__email-sub::placeholder, .footer__button-sub, .hat button, .specifications h3, .specifications p, .activities__description, .modal__title, .modal__send-button {
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.body {
  font-family: "Roboto", BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #FFFFFF;
  margin: 0%;
}

.media-icon, .footer__link button, .team__link button {
  border-radius: 50%;
  padding: 12px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  border: 0px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
}

.list, .menu-navigation li, .contacts li, .menu-link, .navigation-menu, .menu-social__link, .footer li, .specifications li, .activities__list, .team__box, .team__list, .client__list {
  list-style-type: none;
}

.button, .footer__button-sub, .hat button, .modal__send-button {
  cursor: pointer;
}

.body {
  position: relative;
}

.header {
  background-color: #FFFFFF;
  height: 80px;
  border-bottom: 1px solid #ECECEC;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width768) {
  .header {
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    justify-content: center;
  }
}

.menu-navigation {
  display: flex;
  margin-left: 93px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .menu-navigation {
    display: none;
  }
}

.menu-navigation a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: black;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-navigation .header__item:not(:last-child) {
  margin-right: 50px;
}

.menu-navigation a:hover, a:focus {
  color: #2196F3;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contacts__container {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__container .contacts__item {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 15px;
  }
}

.contacts {
  display: flex;
  padding: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: 331px;
  }
}

.contacts a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__container {
    margin-right: 15px;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__item {
    font-size: 12px;
  }
  .contacts__item:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts a:hover,
.contacts a:focus,
.contacts__item a:hover svg {
  color: #2196F3;
  fill: #2196F3;
}

.contacts__smarthphone-icon, .contacts__letter-icon {
  display: inline-flex;
  fill: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__smarthphone-icon, .contacts__letter-icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__smarthphone-icon, .contacts__letter-icon {
    margin-right: 10px;
  }
}

.menu-navigation__link {
  position: relative;
}

.current-main::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  display: block;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header_button-container {
    margin-left: auto;
    margin-right: 22px;
  }
}

.menu-toggle {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-toggle:hover svg {
  fill: #2196F3;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

.menu__button-close {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu__button-close:hover svg {
  fill: #2196F3;
}

.close-buttone__container {
  position: absolute;
  right: 15px;
  top: 10px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: white;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .menu-container {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-link__container {
  margin-left: 40px;
  margin-top: 48px;
}

.menu-link a {
  text-decoration: none;
  color: #212121;
}

.menu-link a:hover {
  color: #2196F3;
}

.menu-link__item {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.container__for__bottom__part {
  align-self: flex-end;
}

.contacts-menu__container {
  margin-left: 40px;
  margin-top: auto;
}

.navigation-menu a {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.navigation-menu a:hover {
  color: #2196F3;
}

.navigation_item {
  margin-bottom: 32px;
}

.menu-container__social {
  margin-bottom: 48px;
  margin-left: 40px;
  margin-top: 64px;
}

.menu-social__link {
  display: inline-flex;
  flex-direction: row;
  margin: 0;
}

.menu-social__link a {
  text-decoration: none;
  color: #2196F3;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
}

.menu-social__item {
  padding: 0 10px;
}

.menu-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.footer {
  width: 100%;
  background-color: #2F303A;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.footer li {
  padding-bottom: 9px;
}

.footer span {
  color: #2196F3;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 60px;
    align-items: center;
  }
}

.footer address {
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  color: white;
}

.footer__container {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer__container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 76px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer__address {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__address {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
    margin-right: 165px;
  }
}

.footer__contacts {
  margin-top: 20px;
}

.footer__contacts ul {
  padding: 0px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer__contacts ul {
    text-align: center;
  }
}

.footer__contacts a {
  text-decoration: none;
  color: #757575;
  font-size: 14px;
  line-height: 171%;
  padding-bottom: 9px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts a:hover, .footer__contacts a :focus {
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer__contacts a {
    justify-content: center;
    align-items: center;
  }
}

.footer__social {
  align-self: center;
}

.footer__social h3 {
  color: white;
  margin: 0px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer__social {
    padding-left: 0px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__social {
    margin-bottom: 102px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    padding-left: 70px;
  }
}

.footer__list {
  display: inline-flex;
  justify-content: center;
  padding: 0px;
  margin-top: 20px;
}

.footer__link {
  display: inline-flex;
}

.footer__link button {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__link button:hover {
  background-color: #2196F3;
}

.footer__icon {
  fill: white;
}

.footer__mailing h3 {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer__mailing {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__mailing {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__mailing {
    text-align: center;
  }
}

.footer__subscription {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer__subscription {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__subscription {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer__email-sub {
  height: 50px;
  width: 358px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
}

.footer__email-sub::placeholder {
  line-height: 125%;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer__email-sub {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__email-sub {
    margin-bottom: 20px;
  }
}

.footer__button-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  height: 50px;
  width: 200px;
  background: #2196F3;
  outline: none;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: bold;
  line-height: 187%;
  letter-spacing: 0.06em;
  color: white;
}

.footer__button-sub:hover, .footer__button-sub :focus {
  background-color: #188ce8;
}

.footer__button-svg {
  fill: white;
  margin-left: 10px;
}

.icon {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon span {
  color: #2196F3;
}

.bottom {
  color: #FFFFFF;
}

.top {
  color: #000000;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .top {
    margin-left: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .top {
    margin-left: 15px;
  }
}

.hat {
  background-color: #2F303A;
  padding: 200px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.hat h1 {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
  margin-top: 0px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .hat h1 {
    font-size: 26px;
    line-height: 162%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hat h1 {
    font-size: 26px;
    line-height: 162%;
  }
}

@media screen and (min-width: 1200px) {
  .hat h1 {
    font-size: 44px;
    line-height: 136%;
  }
}

@media screen and (min-width: 320px) {
  .hat {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Mobile-hat-1x.jpg);
  }
}

@media screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .hat {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Mobile-hat-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hat {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Table-hat-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hat {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Table-hat-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hat {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hat-img.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hat {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/PC-hat-2x.jpg);
  }
}

.hat button {
  width: 200px;
  height: 50px;
  font-weight: bold;
  line-height: 187%;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: white;
  background: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
  display: block;
}

.hat button:hover, .hat button :focus {
  background: #188ce8;
}

.specifications {
  padding: 94px 0;
}

.specifications h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .specifications h3 {
    text-align: center;
  }
}

.specifications li {
  display: inline;
}

@media screen and (min-width: 1200px) {
  .specifications li {
    margin-right: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .specifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .specifications {
    display: flex;
    flex-wrap: wrap;
  }
}

.specifications p {
  font-weight: normal;
  line-height: 171%;
  color: #757575;
}

.specifications__list {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .specifications__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .specifications__list {
    flex-wrap: wrap;
    flex-basis: calc(100%/2);
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .specifications__item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .specifications__item {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .specifications__item:nth-child(even) {
    margin-right: 0px;
  }
  .specifications__item:nth-child(3) {
    margin-bottom: 0%;
  }
  .specifications__item:nth-child(4) {
    margin-bottom: 0%;
  }
}

@media screen and (min-width: 1200px) {
  .specifications__item {
    width: 270px;
  }
}

.specifications__item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #F5F4FA;
  background-position: center;
  background-repeat: no-repeat;
}

.specifications__item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.specifications__item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.specifications__item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.specifications__item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.activities {
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .activities {
    display: none;
  }
}

.activities__list {
  display: flex;
  justify-content: center;
}

.activites__images {
  position: relative;
  display: inline-flex;
}

.activities__description {
  position: absolute;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  bottom: 0;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  z-index: 1;
}

.activites__images:not(:last-child) {
  margin-right: 30px;
}

.team {
  padding: 94px 0;
  background-color: #f5f4fa;
  width: 100%;
}

.team p {
  font-weight: normal;
  font-size: 16px;
  color: #757575;
  line-height: 18.75px;
  margin-top: 10px;
}

.team li:first-child {
  margin-left: 0px;
}

.team ul {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .team ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.team__box {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .team__box {
    width: 450px;
    height: 622px;
  }
  .team__box:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team__box {
    width: 354px;
    height: 536px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team__box:nth-child(2n) {
    margin-right: 0px;
  }
  .team__box:nth-child(3) {
    margin-bottom: 0px;
  }
  .team__box:nth-child(4) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team__box {
    width: 270px;
    height: 428px;
  }
  .team__box:not(:last-child) {
    margin-right: 30px;
  }
}

.team__box h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__box p {
  margin-bottom: 16px;
}

.team__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .team__list {
    padding: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team__list {
    padding: 0px;
  }
}

.team__link button {
  background-color: white;
}

.team__link button svg {
  fill: #AFB1B8;
}

.team__link button:hover,
.team__link button :focus {
  background-color: #2196F3;
}

.team__link button:hover svg {
  fill: white;
}

.client {
  padding: 94px 0px;
}

.client h2 {
  text-align: center;
  margin: 0%;
  padding-bottom: 50px;
}

.client__item {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .client__item {
    width: 210px;
    height: 92px;
    margin-bottom: 30px;
  }
  .client__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .client__item {
    width: 226px;
    height: 92px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .client__item:nth-child(3n) {
    margin-right: 0px;
  }
  .client__item:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    width: 170px;
    height: 92px;
  }
  .client__item + .client__item {
    margin-left: 30px;
  }
}

.client__item svg {
  display: block;
  margin: auto;
  padding-top: 20px;
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__list {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .client__list {
    flex-wrap: wrap;
    flex-basis: calc(100%/2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .client__list {
    flex-wrap: wrap;
  }
}

.client__item:hover {
  border-color: #2196F3;
}

.client__item:hover svg {
  fill: #2196F3;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms, visibility 300ms;
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: white;
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin: 0;
  padding-top: 40px;
  color: #212121;
}

.modal__close-button {
  width: 30px;
  height: 30px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal__close-button:hover svg {
  fill: #2196F3;
}

.modal__label {
  display: flex;
  flex-direction: column;
  height: 58px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
}

.modal__label p {
  font-style: normal;
  font-weight: normal;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
}

.modal__label textarea {
  resize: none;
}

.modal__input {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover, .modal__input :focus {
  border: 1px solid #2196F3;
  outline: none;
}

.modal__textarea-input {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea-input:focus, .modal__textarea-input :hover {
  border: 1px solid #2196F3;
  outline: none;
}

.modal__textarea-input ::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.modal__input:focus ~ .modal__input-icon {
  fill: #2196F3;
}

.modal__input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.modal__input-wrap {
  position: relative;
  display: block;
}

.modal__checkbox {
  display: inline-flex;
  margin-top: 25px;
}

.modal__termsuse-text {
  display: flex;
  margin: 0;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 7px;
}

.modal__termsuse-text::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 5px;
}

.modal__check:checked + .modal__termsuse-text::before {
  background-color: #2196F3;
  padding: 2px;
  border: none;
  background-image: url(../images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__check {
  display: none;
}

.modal__terms-link {
  margin-left: 5px;
  text-decoration-line: underline;
  color: #2196F3;
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__send-button {
  margin-top: 15px;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  border: 0px;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: bold;
  line-height: 187%;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
}

.modal__send-button:hover, .modal__send-button :focus {
  background: #188ce8;
}
/*# sourceMappingURL=main.css.map */