/*.body{
    font-family: "Roboto", BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FFFFFF;
    margin: 0%;
}*/
/*.icon span {
    color: #2196F3;
}
.icon {
    text-decoration: line-through;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    letter-spacing: 0.03em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bottom{
color: #FFFFFF;
}
.top{
    color: #000000;
}
.header{
    background-color: #FFFFFF;
    height: 80px;


    display: flex;
    align-items:center; 
    justify-content: center;
    border-bottom: 1px solid #ECECEC;
    
}


.menu-navigation{
    display: flex;
    margin-left: 93px;
}

.menu-navigation a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: black;

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-navigation a:hover{
    color:#2196F3;
}
.menu-navigation a:focus{
    color:#2196F3;
}
.menu-navigation li{
    list-style-type: none;
}

.contacts{
    display: flex;
    margin-left: 331px;
}

.contacts li{
    list-style-type: none;
}
.contacts a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
    display: block;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts a:hover,
.contacts a:focus , 
.contacts__item a:hover svg{
    color: #2196F3;
    fill: #2196F3;
}

.contacts__letter-icon{
    display: inline-flex;
    margin-right: 10px;
    fill: #757575; 

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__smarthphone-icon{
    display: inline-flex;
    margin-right: 10px;
    fill:#757575;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-navigation__link{
    position: relative;
}
.current-main::after{
    content: "";
    position: absolute;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    display: block;
}*/




/* .hat{
    background-image:linear-gradient( to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../images/Hat-img.jpg);
    background-color: #2F303A;
    padding: 200px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hat h1{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0px;
}
.hat button{
    width: 200px;
    height: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 187%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    margin-left: 45%;
}
.hat button:hover {
    background: #188ce8;
}
.hat button:focus {
    background: #188ce8;
}*/



/*.specifications{
    padding: 94px 0;
}
.specifications h3{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.specifications li{
    list-style-type: none;
    display: inline;
    padding-right: 15px;
}
.container{
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
}
.specifications p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
}
.specifications__list {
    display: flex;
    justify-content: center; 
}
.specifications__item{
    width: 251px;
}
.specifications__item::before{
    display: block;

    content: "";
    height: 120px;
    background-color: #F5F4FA;
    background-position: center;
    background-repeat: no-repeat;
}
.specifications__item:nth-child(1)::before{
    background-image: url(../images/antenna.svg);
}
.specifications__item:nth-child(2)::before{
    background-image: url(../images/clock.svg);
}
.specifications__item:nth-child(3)::before{
    background-image: url(../images/diagram.svg);
}
.specifications__item:nth-child(4)::before{
    background-image: url(../images/astronaut.svg);
}*/






/*.activities{
    padding-bottom: 94px;
}
.activities__title{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.activities__list{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.activites__images{
    position: relative;
    display: inline-flex;
}
.activities__description{
    position: absolute;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    
    
    bottom: 0;
    
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    
    z-index: 1;
}

.activites__images:not(:last-child) {
    margin-right: 30px;
}




.team{
    padding: 94px 0;
    background-color: #F5F4FA;
    width: 100%;
}
.team h2{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    
    margin-bottom: 50px;
}
.team ul{
    display: flex;
    justify-content: center;
    
}
.team__box{
    background-color: #FFFFFF;
    list-style-type: none;
    display: inline;
    width: 270px;
    height: 428px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team__box:not(:last-child) {
    margin-right: 30px;
}
.team h3{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
}
.team p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
}
.team__container{
    display: flex;
    margin: 0px;
}
.team__list{
    list-style-type: none;
}
.team__link button{
    display: flex;
    border: 0px;
    background-color: white;
    border-radius: 50%;
    padding: 12px;
    margin-right: 10px;
    cursor: pointer;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link svg{
    fill: #AFB1B8; 
}
.team__link button:hover{
    background-color: #2196F3;
}
.team__link button:hover,
.team__link button:focus{
    background-color: #2196F3;
}
.team__link button:hover svg{
    fill: white;
}




.client{
    padding: 94px 0px;
}
.client__item{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client h2{
    text-align: center;
    margin: 0%;
    padding-bottom: 50px;
}
.client__list{
    list-style-type: none;
    display: flex;
    justify-content: center; 
}
.client__item a{
    display: block;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__item svg{
    display: block; 
    margin: auto;
    padding-top: 20px;
    fill: #AFB1B8;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__item a:hover{
    border-color:#2196F3;
}
.client__item:hover svg{
    fill:#2196F3;
}
.client__item:not(:last-child){
    margin-right: 30px;
}*/



/*.footer{ 
    height: 252px;
    width: 100%;
    background-color: #2F303A;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.footer__container{
    display: flex;
}
.footer li{
    list-style-type: none;
    padding-bottom: 9px;
}
.footer address{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer__contacts ul{
    padding: 0px;
}
.footer__contacts a:hover{
    color: rgba(255, 255, 255, 1);
}
.footer__contacts a:focus{
    color: rgba(255, 255, 255, 1);
}
.footer span{
    color: #2196F3;
}
.footer__contacts a{
    text-decoration: none;
    color: #757575;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    padding-bottom: 9px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social{
    padding-left: 70px;
    align-self: center;
}
.footer__social h3{
    color: white;
    margin: 0px;
}
.footer__list{
    display: inline-flex;
    justify-content: center;
    padding: 0px;
    margin-top: 20px;
}
.footer__link{
    display: inline-flex;
}
.footer__link button{
    display: flex;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 12px;
    margin-right: 10px;
    cursor: pointer;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link button:hover{
    background-color: #2196F3;
}
.footer__icon{
    fill: white;
}


.footer__mailing{
    margin-left: 93px;
}
.footer__mailing h3{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer__subscription{
    display: flex;
}
.footer__email-sub{
    height: 50px;
    width: 358px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
}
.footer__email-sub::placeholder{
    font-size: 16px;
    line-height: 125%;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer__button-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    height: 50px;
    width: 200px;
    background: #2196F3;
    
    outline: none;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-weight: bold;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.footer__button-sub:hover, 
.footer__button-sub:focus{
    background-color: #188ce8;
}
.footer__button-svg{
    fill: #FFFFFF;
    margin-left: 10px;
}*/



/*.portfolio__button{
    display: flex;
    justify-content: center;
   margin-right: 8px;
   padding-bottom: 50px;
   padding-top: 94px;
}
.portfolio__menu li{
    list-style-type: none;
    display: inline;
    
}
.portfolio__menu button{
    padding-inline: 22px;
    background-color: #f5f3fa;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    
    border: none;
    border-radius: 4px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__menu button:hover{
    background-color: #2196F3;
    color: #FFFFFF;
}
.portfolio__menu button:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}*/


/*.portfolio{
    width: 1170px;
    display: flex;
    flex-wrap: wrap; 
    margin: auto;
    padding-bottom: 94px;
}
.portfolio__item{
    list-style-type: none;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    cursor: pointer;
    
    width: 370px;
    height: 406px;
    margin-right: 30px;
    margin-bottom: 30px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover, .portfolio__item:focus{
    
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio li:nth-child(3n){
    margin-right: 0px;
}
.portfolio li:nth-last-child(-n+3){
    margin-bottom: 0px;
}

.portfolio h2{
    font-weight: bold;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: #212121;
    padding-left: 24px;
}
.p-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 187% ;
    letter-spacing: 0.03em;
    color: #757575;
    padding-left: 24px;
    padding-bottom: 20px;
}
.portfolio-images{
    display: block;
    max-width: 100%;
    height: auto;
}
.portfolio__overlay {
    position: relative;
    overflow: hidden;
}
.portfolio__text-overlay{
    position: absolute;
    display: flex;
    text-align: left;
    margin: 0px;
    top: 0;
    left: 0;
    width: 322px;
    height: 100%;
    padding: 63px 24px;
    overflow: auto;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(33, 150, 243, 0.9);

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.portfolio__item:hover .portfolio__text-overlay{
    transform: translateY(0%);
}*/



/*.backdrop{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 250ms, visibility 300ms;
}
.modal{
    position: absolute;
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
}
.modal__title{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    padding-top: 40px;

    color: #212121;
}
.modal__close-button{
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 8px;
}
.modal__close-button:hover svg{
    fill: #2196F3;
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal__label{
    display: flex;
    flex-direction: column;
    height: 58px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
}
.modal__label p{
    font-style: normal;
    font-weight: normal;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    text-align: left;
}

.modal__label textarea{
    resize: none;
}
.modal__input{
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 100%;
    padding-left: 42px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus, .modal__textarea-input:focus, .modal__textarea-input:hover{
    border: 1px solid #2196F3;
    outline: none;
}
.modal__input:focus ~ .modal__input-icon{
    fill: #2196F3 ;
}
.modal__textarea-input{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea-input::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.modal__input-icon{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.modal__input-wrap{
    position: relative;
    display: block;
}
.modal__checkbox{
    display: inline-flex;
    margin-top: 25px;
}
.modal__termsuse-text{
    display: flex;
    margin: 0;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
    padding-left: 7px;
}
.modal__termsuse-text::before{
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid#212121;
    border-radius: 2px;
    margin-right: 5px;
}
.modal__check:checked + .modal__termsuse-text::before{
    background-color: #2196F3;
    border: none;
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.modal__check{
    display: none;
}
.modal__terms-link{
    margin-left: 5px;
    text-decoration-line: underline;
    color: #2196F3;
}
.modal__button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal__send-button{
    margin-top: 15px;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border: 0px;
    cursor: pointer;
    border-radius: 4px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.modal__send-button:hover, .modal__send-button:focus{
    background: #188ce8;
}*/