.activities{
    padding-bottom: 94px;
}
@media screen and (max-width:1200px){
    .activities{
        display: none;
    }
}
.activities__title{
    @extend .h-title;
}
.activities__list{
    @extend .list; 
    display: flex;
    justify-content: center;
}
.activites__images{
    position: relative;
    display: inline-flex;
}
.activities__description{
    @extend .normal-text;
    position: absolute;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    
    bottom: 0;
    
    color: $background-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    
    z-index: 1;
}

.activites__images:not(:last-child) {
    margin-right: $margin;
}