.portfolio-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.portfolio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px;
    @media screen and (min-width:768px) and (max-width:1200px){
        justify-content: center;
        }
        @media screen and (min-width:1200px){
            max-width: 1200px;
            
        }
}


.portfolio{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;

    @media screen and (min-width:320px) and (max-width:768px){
        max-width: 450px;
        padding-bottom: 60px;
        &:not(:last-child){
            margin-bottom: $margin;
        }
    }
    @media screen and (min-width:768px) and (max-width:1200px){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        margin-left: -87px;
        margin-bottom: 60px;

       
        &li:nth-child(9n){
            margin-bottom: 0px;
            margin-right: 0px;
        }
        }
    
    @media screen and (min-width:1200px){
        padding-bottom: 94px;
        padding-left: 0px;
        justify-content: center;
        align-items: center;
        
        & li:nth-child(3n){
            margin-right: 0px;
        }
        & li:nth-last-child(-n+3){
            margin-bottom: 0px;
        }
    }
    
    & h2{
        font-weight: bold;
        font-size: 18px;
        line-height: 200%;
        letter-spacing: 0.06em;
        color: #212121;
        padding-left: 24px;
    }
}



.portfolio__item{
    margin-right: 0px; 
    @extend .list;
    @extend .button;
    background-color: $background-color;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;

    
    margin-bottom: $margin;

    transition: $animation;

    @media screen and (min-width:320px) and (max-width:768px){
        width: 450px;
        height: 404px;
    }
    @media screen and (min-width:768px) and (max-width:1200px){
        width: 354px;
        height: 440px;
        margin-left: 87px;

        &:nth-child(9){
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width:1200px){
        width: 370px;
        margin-right: $margin;
        
    }


    &:hover, :focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .portfolio__text-overlay{
        transform: translateY(0%);
    }

}



.p-text{
    @extend .normal-text; 
    line-height: 187% ;
    color: $p-textcolor;
    padding-left: 24px;
    padding-bottom: 20px;
}

.portfolio-images{
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio__overlay {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.portfolio__text-overlay{
    position: absolute;
    display: flex;
    text-align: left;
    margin: 0px;
    top: 0;
    left: 0;
    
    width: auto;
    height: 100%;
    padding: 63px 24px;
    overflow: auto;
    
    transform: translateY(100%);
    transition: transform $animation;
    background: rgba(33, 150, 243, 0.9);

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $background-color;
}