
.specifications{
    padding: 94px 0;

    & h3{
        @extend .normal-text;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: $h-textcolor;
        margin-bottom: 10px;
        margin-top: 30px;

        @media screen and (min-width:320px) and (max-width:768px){
            text-align: center;
        }
    }

    & li{
        @extend .list; 
        display: inline;
        
        @media screen and (min-width:1200px){
        margin-right: $margin;
        }

    }

    @media screen and (min-width:320px) and (max-width:768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (min-width:768px) and (max-width:1200px){
        display: flex;
        flex-wrap: wrap;
        
    }
    

}
.specifications p{
    @extend .normal-text;
    font-weight: normal;
    line-height: 171%;
    color: $p-textcolor;
    
    
}

.specifications__list {
    display: flex;

    @media screen and (min-width:320px) and (max-width:768px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width:768px) and (max-width:1200px){
        flex-wrap: wrap;
        flex-basis: calc(100%/2);
        align-items: center;
        justify-content: center;
    }
}

.specifications__item{    
    @media screen and (min-width:320px) and (max-width:768px){
        width: 100%;
    }
    @media screen and (min-width:768px) and (max-width:1200px){
        width: 354px;
        margin-right: $margin;
        margin-bottom: $margin;
       
       &:nth-child(even){
        margin-right: 0px;
        }
        &:nth-child(3){
            margin-bottom: 0%;
        }
        &:nth-child(4){
            margin-bottom: 0%;
        }
    }
    @media screen and (min-width:1200px){
        width: 270px;
    }

    &::before{
        display: block;
    
        content: "";
        height: 120px;
        background-color: #F5F4FA;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.specifications__item:nth-child(1)::before{
    background-image: url(../images/antenna.svg);
}
.specifications__item:nth-child(2)::before{
    background-image: url(../images/clock.svg);
}
.specifications__item:nth-child(3)::before{
    background-image: url(../images/diagram.svg);
}
.specifications__item:nth-child(4)::before{
    background-image: url(../images/astronaut.svg);
}
