.team{
    padding: 94px 0;
    background-color: #F5F4FA;
    width: 100%;

    & h2{
    @extend .h-title;
    }


    & ul{
        display: flex;
        justify-content: center;
        @media screen and (min-width:320px) and (max-width:768px){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        @media screen and (min-width:768px) and (max-width:1200px){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

}
.team h3{
    @extend .normal-text;
        font-weight: 500;
        color: $h-textcolor;
        text-align: center;
}
.team p{
    @extend .normal-text; 
    font-weight: normal;
    color: $p-textcolor;
    text-align: center;
}

.team__box{
    background-color: $background-color;
    @extend .list; 
    display: inline;
    
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width:320px) and (max-width:768px){
        width: 450px;
        height: 622px;
        &:not(:last-child) {
            margin-bottom: $margin;
        }
    }
    @media screen and (min-width:768px) and (max-width:1200px){
        
        width: 354px;
        height: 536px;
        margin-right: $margin;
        margin-bottom: $margin;
        &:nth-child(2n){
            margin-right: 0px;
        }
        &:nth-child(3) {
            margin-bottom: 0px;
        }
        &:nth-child(4) {
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width:1200px){
        width: 270px;
        height: 428px;
        
        &:not(:last-child) {
            margin-right: $margin;
        }
    }
}
.team__container{
    display: flex;
    margin: 0px;
    @media screen and (min-width:320px) and (max-width:768px){
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px;
    }
    @media screen and (min-width:768px) and (max-width:1200px){
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.team__list{
    @extend .list; 
    @media screen and (min-width:320px) and (max-width:768px){
       
        padding: 0px;
    }
    @media screen and (min-width:768px) and (max-width:1200px){
        
        padding: 0px;
    }
    
    
}

.team__link button{
    @extend .media-icon;
    background-color: $background-color;

    & svg{
        fill: $svg-fill; 
    }
    
    &:hover, :focus{
        background-color: $hover-color;
    }

    &:hover svg{
        fill: $background-color;
    }
}
